Repository rtosholdings/riptable, pull requests merged in 2021-06, with the labels that each got.

#160 Fix sds info multifile
  riptable/rt_sds.py
  riptable/tests/test_sds.py
Labels: area-SDS, bug

#164 Repro for #163.
  riptable/tests/test_saveload.py
Labels: testing

#171 Fix too-strict assertion check in ``assert_categorical_equal``.
  riptable/testing/array_assert.py
Labels: bug, testing

#168 Cat string
  riptable/Utils/common.py
  riptable/rt_categorical.py
  riptable/rt_fastarray.py
  riptable/rt_str.py
  riptable/tests/test_str.py
Labels: enhancement
